.sign-up-container {
    max-width: 400px; /* Same max-width for consistency */
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    text-align: center;
}
  
.sign-up-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #1f2937;
}
  
.form-group {
    margin-bottom: 15px;
    text-align: left;
}
  
label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
  
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
.sign-up-button {
    background-image: linear-gradient(to right, #7f00ff, #e100ff);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}
  
.sign-up-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}